//////////////////
// * SETTINGS * //
/////////////////

@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;400;500;700 & display=swap');

$couleur-primaire: #FF6060;
$couleur-secondaire: #F6F6F6;
$couleur-terciaire: #E5E5E5;
$couleur-footer: #000000;
$couleur: #FFFFFF;
$linear-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%);


* {
    font-family: "Montserrat";
    color: $couleur-primaire;
}


body {
    margin: 0;
  }

