/////////////////
// BANNER STYLE //
/////////////////

.banner {
    border-radius: 25px;
    height: 223px;
    max-width: $max-width;
    margin: auto;
    margin-top: 68px;
    //Mettre sur le contenaire Card :
    //margin-bottom: 43px;
    background: linear-gradient(#00000055,#00000055), url(..//../assets/img-home.svg) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &__titre {
        font-size: 48px;
        color: $couleur;
        font-weight: 500;
    }
}

