.gallery {
    background-color: $couleur-secondaire;
    max-width: $max-width;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &__img {
        position: absolute;
    }

    &__titre {
        font-size: 15px;
    }
}