/////////////////////
// STYLE CARROUSEL //
////////////////////

.carrousel {
  display: flex;
  position: relative;
  margin-top: 25px;
  height: 415px;
  border-radius: 25px;
  @media only screen and (max-width: 768px) {
    height: 255px;
    border-radius: 10px;
  }
  &__imageContainer {
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    display: flex;
    width: 100%;
    &--img {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
  }
}

.leftArrow {
  display: flex;
  position: absolute;
  top: 47%;
  left: 2%;
  width: 47px;
  height: auto;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    width: 12px;
    height: auto;
  }
}

.rightArrow {
  display: flex;
  position: absolute;
  top: 47%;
  right: 2%;
  width: 47px;
  height: auto;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    width: 12px;
    height: auto;
  }
}

.number {
  position: absolute;
  display: flex;
  left: 50%;
  top: 88%;
  font-size: 18px;
  font-weight: 500;
  color: $couleur;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
